<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/hibernate</property>
        <property name="connection.username">hibernate</property>
        <property name="connection.password">holopass</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>

        <mapping class="ru.azzgzz.data.Role" />
        <mapping class="ru.azzgzz.data.User" />
        <mapping class="ru.azzgzz.data.Order" />
        <mapping class="ru.azzgzz.data.Product" />
        <mapping class="ru.azzgzz.data.ProductCategory" />

    </session-factory>
</hibernate-configuration>